In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import pandas as pd
import numpy as np
import re
import collections
import matplotlib.pyplot as plt
from pathlib import Path
from sklearn.model_selection import train_test_split
from nltk.corpus import stopwords
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils.np_utils import to_categorical
from sklearn.preprocessing import LabelEncoder
from keras import models
from keras import layers

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

In [ ]:
import pandas as pd
import numpy as np
import re

In [ ]:
train_data = pd.read_csv('/content/drive/My Drive/Colab Notebooks/train.csv')
test_data  =pd.read_csv('/content/drive/My Drive/Colab Notebooks/test.csv')
train_data.head(10)
train_data.dtypes

id           int64
keyword     object
location    object
text        object
target       int64
dtype: object

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
train_data['text'][11]

'Haha South Tampa is getting flooded hah- WAIT A SECOND I LIVE IN SOUTH TAMPA WHAT AM I GONNA DO WHAT AM I GONNA DO FVCK #flooding'

The regular expression above is meant to find any four digits at the beginning of a string, which suffices for our case. The above is a raw string (meaning that a backslash is no longer an escape character), which is standard practice with regular expressions.
regex = r'^(\d{4})'

In [ ]:
import re
def  clean_text(df, text_field, new_text_field_name):
    df[new_text_field_name] = df[text_field].str.lower()
    df[new_text_field_name] = df[new_text_field_name].apply(lambda elem: re.sub(r"(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)|^rt|http.+?", "", elem))  
    # remove numbers
    df[new_text_field_name] = df[new_text_field_name].apply(lambda elem: re.sub(r"\d+", "", elem))
    
    return df
data_clean = clean_text(train_data, 'text', 'text_clean')
data_clean_tr = clean_text(train_data, 'text', 'text_clean')
data_clean_ts = clean_text(test_data, 'text', 'text_clean')

In [ ]:
data_clean['target'] = data_clean['target'].astype(float)

In [ ]:
import nltk.corpus
nltk.download('stopwords')
from nltk.corpus import stopwords
stop = stopwords.words('english')
data_clean_tr['text_clean'] = data_clean_tr['text_clean'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))
data_clean_ts['text_clean'] = data_clean_ts['text_clean'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop)]))

data_clean.head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

   id keyword  ... target                                         text_clean
0   1     NaN  ...    1.0       deeds reason earthquake may allah forgive us
1   4     NaN  ...    1.0              forest fire near la ronge sask canada
2   5     NaN  ...    1.0  residents asked shelter place notified officer...
3   6     NaN  ...    1.0  people receive wildfires evacuation orders cal...
4   7     NaN  ...    1.0  got sent photo ruby alaska smoke wildfires pou...

[5 rows x 6 columns]

In [ ]:
import nltk 
nltk.download('punkt')
from nltk.tokenize import sent_tokenize, word_tokenize
data_clean['text_tokens'] = data_clean['text_clean'].apply(lambda x: word_tokenize(x))
data_clean.head()

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

   id  ...                                        text_tokens
0   1  ...  [deeds, reason, earthquake, may, allah, forgiv...
1   4  ...      [forest, fire, near, la, ronge, sask, canada]
2   5  ...  [residents, asked, shelter, place, notified, o...
3   6  ...  [people, receive, wildfires, evacuation, order...
4   7  ...  [got, sent, photo, ruby, alaska, smoke, wildfi...

[5 rows x 7 columns]

In [ ]:
from nltk.stem import PorterStemmer 
from nltk.tokenize import word_tokenize
def word_stemmer(text):
    stem_text = [PorterStemmer().stem(i) for i in text]
    return stem_text
data_clean['text_clean_tokens'] = data_clean['text_tokens'].apply(lambda x: word_stemmer(x))
data_clean.head()

   id  ...                                  text_clean_tokens
0   1  ...  [deed, reason, earthquak, may, allah, forgiv, us]
1   4  ...       [forest, fire, near, la, rong, sask, canada]
2   5  ...  [resid, ask, shelter, place, notifi, offic, ev...
3   6  ...  [peopl, receiv, wildfir, evacu, order, califor...
4   7  ...  [got, sent, photo, rubi, alaska, smoke, wildfi...

[5 rows x 8 columns]

In [ ]:
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
def word_lemmatizer(text):
    lem_text = [WordNetLemmatizer().lemmatize(i) for i in text]
    return lem_text
data_clean['text_clean_tokens'] = data_clean['text_tokens'].apply(lambda x: word_lemmatizer(x))
data_clean['text_clean_tokens'] = data_clean['text_clean_tokens'].astype(str)
data_clean.head()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

   id  ...                                  text_clean_tokens
0   1  ...  ['deed', 'reason', 'earthquake', 'may', 'allah...
1   4  ...  ['forest', 'fire', 'near', 'la', 'ronge', 'sas...
2   5  ...  ['resident', 'asked', 'shelter', 'place', 'not...
3   6  ...  ['people', 'receive', 'wildfire', 'evacuation'...
4   7  ...  ['got', 'sent', 'photo', 'ruby', 'alaska', 'sm...

[5 rows x 8 columns]

In [ ]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(data_clean_tr['text_clean'],data_clean_tr['target'],random_state = 0)

In [ ]:
import sklearn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
import numpy as np
import shap

In [ ]:
!pip install shap

Collecting shap
  Downloading https://files.pythonhosted.org/packages/a8/77/b504e43e21a2ba543a1ac4696718beb500cfa708af2fb57cb54ce299045c/shap-0.35.0.tar.gz (273kB)
     |████████████████████████████████| 276kB 4.5MB/s
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from shap) (1.18.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from shap) (1.4.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.6/dist-packages (from shap) (0.22.2.post1)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from shap) (1.0.5)
Requirement already satisfied: tqdm>4.25.0 in /usr/local/lib/python3.6/dist-packages (from shap) (4.41.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn->shap) (0.16.0)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->shap) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->shap) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->shap) (1.15.0)
Building wheels for collected packages: shap
  Building wheel for shap (setup.py) ... done
  Created wheel for shap: filename=shap-0.35.0-cp36-cp36m-linux_x86_64.whl size=394141 sha256=bb8e2817c5d898a678e63f293f67795f102c8073fffad6ed195439e70354f0b5
  Stored in directory: /root/.cache/pip/wheels/e7/f7/0f/b57055080cf8894906b3bd3616d2fc2bfd0b12d5161bcb24ac
Successfully built shap
Installing collected packages: shap
Successfully installed shap-0.35.0

In [ ]:
vectorizer = TfidfVectorizer()
X_train = vectorizer.fit_transform(X_train)
X_test = vectorizer.transform(X_test)

In [ ]:
model = sklearn.linear_model.LogisticRegression(C=0.1)
model.fit(X_train, y_train)

LogisticRegression(C=0.1, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
from sklearn.metrics import classification_report
y_predict = model.predict(X_test)
print(classification_report(y_test, y_predict))

              precision    recall  f1-score   support

         0.0       0.68      0.99      0.80      1107
         1.0       0.95      0.34      0.50       797

    accuracy                           0.72      1904
   macro avg       0.81      0.66      0.65      1904
weighted avg       0.79      0.72      0.68      1904

In [ ]:

X_test = ["#flood #disaster Heavy rain causes flash flooding of streets in Manitou, Colorado Springs areas"]
X_test = vectorizer.transform(X_test)
model.predict(X_test)

array([1.])